h1 Create Book
form(action="/create", method="POST")
	input(type= "text", placeholder="BookName", name="title")
	br
	input(type= "text", placeholder="BookDescription", name="Description")
	br
	button create