h1 Create Book
a(href="/") Books
form(action="/books/create", method="POST")
	input(type= "text", placeholder="BookName", name="title")
	br
	input(type= "text", placeholder="BookDescription", name="description")
	br
	button create