h1 Books
h4
	a(href="books/create") CreateBook
	br
	a(href="/users") UserBooks
form(action= "/books/search", method= "GET")
	input(type= "text", placeholder= "Search Books", name= "q")
	button search
each product in products
	li= product.title
	a(href="/books/view/" + product.id) xem chi tiet