h1 Thong tin Sach
a(href="/") Books
form(action= "/books/view/" + product.id + "/delete", method= "GET")
	button DeleteBook
form(action= "/books/view/" + product.id + "/update", method= "POST")
	input(type= "text", placeholder= "update title", name="title")
	button update	
li
	span= product.title
	br
	span= "mo ta:" + " " + product.description