h1 Thuê Sách
form(action= "/transactions/create", method= "POST")
	input(type= "text", placeholder= "UserName", name= "userId")
	input(type= "text", placeholder="UserBook", name="bookId")
	button Enter