h1 Thuê Sách
form(action= "/transactions/create", method= "POST")
	input(type= "text", placeholder= "UserName", name= "userId")
	input(type= "text", placeholder="UserBook", name="bookId")
	input(type= "text", placeholder="Date", name="date")
	button Enter
each transaction in transactions	
	li
		span= "Ten:" + transaction.userId
		br
		span= "Ten Sach:" + transaction.bookId
		br
		span= "So Ngay thue:" + transaction.date + "ngay"
	form(action= "/transactions/" + transaction.id + "/complete", metho= "GET")
		button Tra sach