h1 Create
form(action="/users/create", method= "POST")
	input(type= "text", placeholder= "UserName", name="name")
	input(type= "text", placeholder= "UserPhonel", name="phonel")
	input(type= "text", placeholder= "UserDate", name="date")
	button create